body {
  background:#A3B2A4;
  font-family:Arial, Helvetica, sans-serif;
}
h1{
  color:#fdfdfd;
  text-align:center
}
h1:hover {
  color:#FFFFFF;
  text-align:center
}
a{
  text-decoration: none;
  color:#E4D5D3;
}
.assign{
  background-color:#C3C6A8;
  margin: 10px;
  padding: 10px;
  display: flex;
  border-radius: 20px;
}
.assign img {
  width: 200px;
  margin: 10px;
  border: 2px solid #EFDBB2;
}
.assign img:hover {
  width: 200px;
  margin: 10px;
  border: 3px dotted #C1B2A2;
}
