body {
  background:#ffb3b3;
  background:#dafbe1;
  font-family:Arial, Helvetica, sans-serif;
}

h1{
  color:#62994a;
  text-align:center
}
h1:hover {
  color:#FFFFFF;
  text-align:center
}
a{
  text-decoration: none;
  color:#000000;
}
.assign{
  display: flex;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  background-color:#e6ddd6;
}
.assign img {
  width: 200px;
  margin: 10px;
  border: 2px solid midnightblue;
}
}
.assign img:hover {
  width: 200px;
  margin: 10px;
  border: 3px dotted #FFFFFF;
}
