body {
  background:#ffb3b3;
  background:#dafbe1;
  font-family:Arial, Helvetica, sans-serif;
}

h1{
  color:#62994a;
  color:#1b1f24;
  text-align:center
}

.assign{
  display: flex;
  padding: 10px;
  margin: 10px;
  background:#e6ddd6;
}
.assign img {
  width: 200px;
  padding: 10px;
}
